.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main-cont {
	margin-top: 0.5em;
	// Span the rest of the page
	flex-grow: 1;
	// Allowance for the footer
	// padding-bottom: 60px;
	display: flex;
	flex-direction: column;
}
.foot-cont {
	flex-direction: column;

	.navbar-brand {
		font-size: 0.75rem;
		padding-top: 0;
		padding-bottom: 0;
		color: #007bff;

		&:hover {
			color: #fff;
		}
	}
	.foot-span {
		color: #fff;
		a {
			color: #007bff;
			&:hover {
				color: #fff;
			}
		}
	}
}

.disc-cont {
	h4 {
		font-size: 1.2rem;
	}
	p {
		margin-bottom: 0;
		font-size: 0.8rem;
	}
}

.content {
	flex-grow: 1;

	.home-cards {
		max-width: 350px;
	}
}

@media (max-width: 600px) {
	.display-4 {
		font-size: 2rem;
	}
}
